.product-main-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.product-card-container {
    padding: 1em;
    display: flex;
    flex-flow: row wrap;
    height: 100%; 
    align-items: center; 
    justify-content: center;
    gap: 20px;

    transition: 2000ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

    .product-card-container .no-product-message {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center; 

        color: darkgray;
        text-align: center;

        padding-top: 200px;
    }

.product-card-container .no-product-message svg {
    padding-top: 20px;
    width: 100%;
}

.product-card {
    padding: 1em;
    box-shadow: 0px 0px 46px -4px rgb(220, 220, 220);
    margin: 1em 1em 2em 1em;
    border-radius: 1em;
    width: 250px;
    height: 450px;
    justify-content: space-between;
    display: flex;
    flex-flow: column nowrap;
    transition: 2000ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

.info {
    display: flex;
}

    .info > * {
        margin-right: 1em;
    }

.product-card-image {
    background-color: rgb(246, 246, 246);
    border-radius: 0.8em;
}

.animated-product-item {
    background-color: transparent;
}

.product-card-image img {
    height: 230px;
    bottom: -2em;
    width: 140%;
    object-fit: cover;
    margin-left: -3em;
    background: none;

    transition: 2000ms cubic-bezier(0.03, 0.98, 0.52, 0.99);
}

.product-card-details {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em 0em;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.9em;
    letter-spacing: 0.5px;
    line-height: 1.3;
    flex-grow: 1;
    z-index: -1;
}

    .product-card-details > p {
        color: rgb(108, 108, 108);
        font-size: 0.8em;
        display: flex;
        align-items: center;
    }

        .product-card-details > p > * {
            margin-right: 5px;
        }

    .product-card-details > h3 {
        text-transform: uppercase;
        margin: 0em 0.5em 0em 0em;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        padding: 0.5em 0em;
        align-self: stretch;
        flex-wrap: nowrap;
    }

.product-card-buttons {
    position: relative;
    display: flex;
    z-index: 5;
    gap: 10px;
}

.cart-btn {
    padding: 10px 0 10px 0;
    font-weight: 800;
    margin: 0px auto;
    border: none;
    flex-grow: 1;
    justify-self: stretch;
    border-radius: 10px;
    font-size: 1.05em;
    color: white;
    background-color: var(--primary-color);
}

    .cart-btn:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
    }

.edit-btn {
    padding: 10px 0 10px 0;
    font-weight: 600;
    text-align: center;
    margin: 0px auto;
    border: none;
    flex-grow: 1;
    justify-self: stretch;
    border-radius: 10px;
    font-size: 1.05em;
    color: black;
    background-color: white;
    border: 2px solid rgb(196, 196, 196);
}

    .edit-btn:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
        cursor: pointer;
        border-color: black;
    }

.price {
    color: black;
    font-weight: 600;
}

.product-card-details .price-container {
    font-size: 1e;
    display: flex;
    margin-bottom: 0.35em;
}

.price-container > * {
    margin-right: 0.5em;
}

.out-of-stock {
    margin-top: 0.8em;
    border-radius: 5px;
    align-self: flex-start;
    padding: 0.3em 1em;
    background-color: rgb(249, 213, 203);
    color: rgb(108, 108, 108);
    font-size: 0.8em;
}

@media (min-width: 768px) {

    .product-card-container .no-product-message {
        
        padding-top: 0px;
    }

    .no-products-found {
        margin-left: 50px;
        margin-top: 30px;
    }
}
