@page
@model LoginModel

@{
    ViewData["HideLayoutParts"] = true;
}

@section PageStyles{
    <link rel="stylesheet" href="~/css/Auth/AuthForm.css" asp-append-version="true" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}
<div class="auth-form-container">
    <div class="auth-input-container">
        <h1>Login</h1>
        <form id="account" method="post" class="input-containter">

            <div asp-validation-summary="ModelOnly" class="warning" role="alert"></div>
            <span asp-validation-for="Input.Email" class="warning"></span>
            <span asp-validation-for="Input.Password" class="warning"></span>

            <input asp-for="Input.Email" placeholder="Enter Email" spellcheck="false" autocomplete="email">

            <input asp-for="Input.Password" placeholder="Enter Password" spellcheck="false" autocomplete="current-password">

            <div class="remember-me-container">
                <div class="remember-me-item">
                     <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe">
                        <p>@Html.DisplayNameFor(m => m.Input.RememberMe)</p>
                     </label>
                </div>
            </div>

            <button id ="login-submit" class="submit" type="submit">Log In</button>
        </form>
        <div class="btn-container">
            <a asp-action="Index">Cancel</a>
            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="sign-up-btn">Create Account</a>
        </div>
    </div>

<div class="demo-tip">
<h3>Test Accounts</h3>
<a>admin@mail.com password123</a>
<a>user@mail.com password123</a>
</div>
</div>
