@page
@model RegisterModel

@{
    ViewData["HideLayoutParts"] = true;
}

@section PageStyles {
    <link rel="stylesheet" href="~/css/Auth/AuthForm.css" asp-append-version="true" />
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
}

<div class="auth-form-container">
    <div class="auth-input-container">
        <h1>Create New Account</h1>
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="input-containter">

            <div asp-validation-summary="ModelOnly" class="warning" role="alert"></div>
            <span asp-validation-for="Input.FullName" class="warning"></span>
            <span asp-validation-for="Input.Email" class="warning"></span>
            <span asp-validation-for="Input.Password" class="warning"></span>
            <span asp-validation-for="Input.ConfirmPassword" class="warning"></span>

            <input asp-for="Input.FullName" placeholder="Enter Full Name" spellcheck="false">

            <input asp-for="Input.Email" placeholder="Enter Email" spellcheck="false" autocomplete="email">

            <input asp-for="Input.Password" placeholder="Enter Password" spellcheck="false" autocomplete="current-password">

            <input asp-for="Input.ConfirmPassword" placeholder="Confirm Password" spellcheck="false" autocomplete="current-password">

            <button id="registerSubmit" class="submit" type="submit">Register</button>
        </form>
        <div class="btn-container">
            <a asp-action="Index">Cancel</a>
        </div>
    </div>
</div>