@section PageStyles {
    <link rel="stylesheet" href="~/css/ThankYou.css" asp-append-version="true" />
}

<header>
    <h1>Thank you for making a purchase!</h1>
    <h2>Thank you for choosing BikeOrbit!</h2>
    <svg class="smile-svg" width="100" height="100" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <circle cx="50" cy="50" r="48" stroke="darkgray" stroke-width="2" fill="none"></circle>
        <circle cx="35" cy="40" r="5" fill="darkgray"></circle>
        <circle cx="65" cy="40" r="5" fill="darkgray"></circle>
        <path d="M35 60 Q50 80, 65 60" stroke="darkgray" stroke-width="2" fill="none"></path>
    </svg>
</header>
